
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.comp_show_page {
  p {
    span {
      text-align: center;
    }
  }
}

main {
  padding: 0 !important;

}

.header-image {
  width: 100%;
  display: inline-block;
  float: left;
  height: 500px;
  position: absolute;
  z-index: -2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(40%) blur(0.5px) grayscale(60%);
}

.header-title {
  width: 100%;
  height: 400px;
  display: table;
  clear: both;
  margin: 0 auto 100px auto;
  text-align: center;

  h1, h2, h3, h4, h5, h6, p {
    margin-top: -1em;
    display: table-cell;
    vertical-align: middle;
  }
}

.content {
  padding: 2em 1em;
  background-color: white;
}

.container {
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }
}

.choice_register {
  width: 100%;
  display: table;
  height: 500px;

  .background-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(80%) grayscale(60%);
    box-shadow: 15px 5px 20px gray;
  }
  .background-pic:hover {
    filter: opacity(100%) grayscale(80%);
  }
}

.simple-btn {
  display: block;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-color: rgba(0,0,0, 0.5);
  padding: 1em;
  border: 2px solid white;
  color: white !important;
}

.simple-btn:hover {
  text-decoration: none !important;
  border-color: black;
  background-color: rgba(255, 255, 255, 0.8);
  color: black !important;
  cursor: pointer;
}

.simple-btn-sm {
  margin-top: 1.5em;
  font-size: 0.3em !important;
  width: 25%!important;
}

.choice {
  display: table-cell;
  width: 50%;
  height: 50%;
  vertical-align: middle;
}

.bubble {
  width: 120px;
  height: 120px;
  display: table;

  color: white !important;
  border: 0.5px solid white;
  border-radius: 60px;
  box-shadow: 2px 3px 15px rgba(0,0,0, 0.5);
  background-color: rgba(96, 150, 189, 0.8) !important;
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  float: left;
  margin: 0 auto;
}

.bubble:hover {

}

.bubble-inline {
  vertical-align: middle;
  width: 100%;
  display: inline-flex;
  clear: both;
}

.bubble-align {

  display: inline-block;
  margin: 0 auto;
  float: left;
}

.paralax-header {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -5;
}

footer {
  text-align: center;
  a {
    display: inline-block !important;
    color: white;
  }
  a:hover {
    color: white;
    opacity: 0.5;
  }
  p {
    padding-bottom: 2em !important;
    margin: 0px !important;
  }
  background-color: #464646 !important;
  color: white !important;
}

.company-img {
  width: 100%;
  display: table;
  text-align: center;

  img {
    display: table-cell;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
    -webkit-box-shadow: -7px 18px 36px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 18px 36px -8px rgba(0,0,0,0.75);
    box-shadow: -7px 18px 36px -8px rgba(0,0,0,0.75);
    clear: both;
  }
  margin-bottom: 3.5em;
}